# Ignore everything by default
*

# --- allow Git to traverse dirs ---
!*/

# --- keep root-level python files ---
!/*.py

# --- keep python files in these two directories ---
!module_aif_bar_reader/**/*.py
!test_scripts/**/*.py

# --- optional: keep small repo metadata/docs ---
!.gitignore
!README.txt
!LICENSE

